* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.app {
    background-image: url('./images/background.jpg');
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
}

.defender {
    background-image: url('./images/goku1.png');
    height: 30vh;
    width: 30vh;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 5vw;
    bottom: 17.5vh;
    transform: scaleX(-1);
}

.attacker {
    background-image: url('./images/goku2.png');
    height: 23vh;
    width: 23vh;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 5vw;
    bottom: 17.5vh;
    transform: scaleX(-1);
}

.score {
    background-image: url('./images/pngwing.com.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0vh;
    left: 2vw;
    width: 10vw;
    height: 10vw;
    font-size: 1.2rem;
}

.gm-container {
    visibility: hidden;
    font-size: 3rem;
    text-align: center;
    position: absolute;
    top: 15vh;
    z-index: 1;
}

.gm-form {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    padding: 20px;
}

.gm-form input {
    font-size: medium;
    padding: 5px 10px;
    margin: 5px 0px;
    width: 300px;
}

.gm-button {
    background-color: green;
    border-color: white;
    border-radius: 10px;
    font-size: medium;
    color: white;
    padding: 8px;
    width: 49%;
    text-shadow: 50px;
}

.gm-button:hover {
    background-color: grey;
}

.animate-defender {
    animation: defenderMove 0.6s infinite linear;
}

@keyframes defenderMove {
    0% {
        bottom: 17vh;
    }

    25% {
        bottom: 45vh;
    }

    50% {
        bottom: 60vh;
    }

    75% {
        bottom: 45vh;
    }

    100% {
        bottom: 17.5vh;
    }
}

.animate-attacker {
    animation: attackerMove 5s infinite linear;
}

@keyframes attackerMove {
    from {
        right: 0vw;
    }

    to {
        right: 100vw;
    }
}